## Final Project Submission

Please fill out:
* Student name: Qilun Chen, Evan Serrano
* Student pace: full time
* Scheduled project review date/time: 03/10/2022
* Instructor name: Praveen Gowtham
* Blog post URL:https://github.com/SerranoEvan/dsc-phase-1-project-v2-4

# Project 1

## Introduction

Microsoft sees all the big companies creating original video content 
and they want to get in on the fun. They have decided to create a new movie studio, 
but they don’t know anything about creating movies.

# Objectives

-Find ROI:domestic ROI and world wide ROI <br>
-How other studio doing, list 5 biggest stdio <br>
-Good rating always making money?<br>
-Good rating always from a big studio?<br>
-Which genre do people like?<br>
-Find the valuable writer and directo<br>

# import everythings we need.

In [3]:
import os
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv')
movie_gross_df = pd.read_csv('zippedData/bom.movie_gross.csv')
tmdb_movies_df = pd.read_csv('zippedData/tmdb.movies.csv')
rt_movie_info_df = pd.read_csv('zippedData/rt.movie_info.tsv', sep = '\t')
rt_reviews_df = pd.read_csv('zippedData/rt.reviews.tsv', sep = '\t', encoding = 'latin-1')
conn = sqlite3.Connection("zippedData/im.db")

FileNotFoundError: [Errno 2] No such file or directory: 'zippedData/tn.movie_budgets.csv'

In [17]:
budgets_df.loc[:, 'worldwide_gross'] = budgets_df["worldwide_gross"].str.replace(",", "")
budgets_df.loc[:, 'worldwide_gross'] = budgets_df["worldwide_gross"].str.replace("$", "").astype('int64')
budgets_df.loc[:, 'production_budget'] = budgets_df["production_budget"].str.replace(",", "")
budgets_df.loc[:, 'production_budget'] = budgets_df["production_budget"].str.replace("$", "").astype('int64')
budgets_df.loc[:, 'domestic_gross'] = budgets_df["domestic_gross"].str.replace(",", "")
budgets_df.loc[:, 'domestic_gross'] = budgets_df["domestic_gross"].str.replace("$", "").astype('int64')

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [22]:
budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [38]:
budgets_df.drop(budgets_df[budgets_df['production_budget'] == 0].index, inplace = True)
budgets_df.drop(budgets_df[budgets_df['domestic_gross'] == 0].index, inplace = True)
budgets_df.drop(budgets_df[budgets_df['worldwide_gross'] == 0].index, inplace = True)

In [39]:
budgets_df['worldwide_ROI'] = ((budgets_df['worldwide_gross'] - budgets_df['production_budget']) / budgets_df['production_budget']) * 100
budgets_df['domestic_ROI'] = ((budgets_df['domestic_gross'] - budgets_df['production_budget']) / budgets_df['production_budget']) * 100

0       2,776,345,279
1       1,045,663,875
2         149,762,350
3       1,403,013,963
4       1,316,721,747
            ...
5777                0
5778          240,495
5779            1,338
5780                0
5781          181,041
Name: worldwide_gross, Length: 5782, dtype: object

In [40]:
budgets_df

In [41]:
budgets_df.corr()

0       2776345279
1       1045663875
2        149762350
3       1403013963
4       1316721747
           ...
5777             0
5778        240495
5779          1338
5780             0
5781        181041
Name: worldwide_gross, Length: 5782, dtype: int64

In [42]:
budgets_df.plot(x = 'production_budget', y = 'worldwide_ROI', kind = "scatter")

In [43]:
budgets_df.drop(budgets_df[budgets_df['production_budget'] < 1000000].index, inplace = True)

In [44]:
budgets_df.corr()

0       425000000
1       410600000
2       350000000
3       330600000
4       317000000
          ...
5777         7000
5778         6000
5779         5000
5780         1400
5781         1100
Name: production_budget, Length: 5782, dtype: int64

In [49]:
budgets_df.plot(x = 'production_budget', y = 'worldwide_ROI', kind = "scatter")

In [50]:
budgets_df.drop(budgets_df[budgets_df['production_budget'] < 10000000].index, inplace = True)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_ROI
0,1,"Dec 18, 2009",Avatar,425000000,"$760,507,625",2776345279,553.257713
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,"$241,063,875",1045663875,154.667286
2,3,"Jun 7, 2019",Dark Phoenix,350000000,"$42,762,350",149762350,-57.210757
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,"$459,005,868",1403013963,324.384139
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,"$620,181,382",1316721747,315.369636
...,...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,7000,$0,0,-100.000000
5778,79,"Apr 2, 1999",Following,6000,"$48,482",240495,3908.250000
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,"$1,338",1338,-73.240000
5780,81,"Sep 29, 2015",A Plague So Pleasant,1400,$0,0,-100.000000
5781,82,"Aug 5, 2005",My Date With Drew,1100,"$181,041",181041,16358.272727

In [53]:
budgets_df.corr()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_ROI
5745,46,"Jun 30, 1972",Deep Throat,25000,"$45,000,000",45000000,179900.000000
5613,14,"Mar 21, 1980",Mad Max,200000,"$8,750,000",99750000,49775.000000
5492,93,"Sep 25, 2009",Paranormal Activity,450000,"$107,918,810",194183034,43051.785333
5679,80,"Jul 10, 2015",The Gallows,100000,"$22,764,410",41656474,41556.474000
5406,7,"Jul 14, 1999",The Blair Witch Project,600000,"$140,539,099",248300000,41283.333333
5709,10,"May 7, 2004",Super Size Me,65000,"$11,529,368",22233808,34105.858462
5346,47,"Aug 13, 1942",Bambi,858000,"$102,797,000",268000000,31135.431235
5773,74,"Feb 26, 1993",El Mariachi,7000,"$2,040,920",2041928,29070.400000
5676,77,"Oct 1, 1968",Night of the Living Dead,114000,"$12,087,064",30087064,26292.161404
5210,11,"Nov 21, 1976",Rocky,1000000,"$117,235,147",225000000,22400.000000
5536,37,"Oct 17, 1978",Halloween,325000,"$47,000,000",70000000,21438.461538
5715,16,"Aug 9, 1995",The Brothers McMullen,50000,"$10,426,506",10426506,20753.012000
5665,66,"Oct 18, 1974",The Texas Chainsaw Massacre,140000,"$26,572,439",26572439,18880.313571
5372,73,"Aug 11, 1973",American Graffiti,777000,"$115,000,000",140000000,17918.018018
5781,82,"Aug 5, 2005",My Date With Drew,1100,"$181,041",181041,16358.272727
5656,57,"May 16, 2007",Once,150000,"$9,445,857",23323631,15449.087333
5742,43,"Oct 19, 1994",Clerks,27000,"$3,073,428",3894240,14323.111111
5612,13,"Jul 25, 1969",The Stewardesses,200000,"$13,500,000",25000000,12400.000000
5117,18,"Dec 21, 1937",Snow White and the Seven Dwarfs,1488000,"$184,925,486",184925486,12327.788038
5357,58,"Jan 1, 1971",Billy Jack,800000,"$98,000,000",98000000,12150.000000

In [59]:
budgets_df.plot(x = 'production_budget', y = 'worldwide_ROI', kind = "scatter")

In [60]:
budgets_df.drop(budgets_df[budgets_df['production_budget'] < 100000000].index, inplace = True)

     Table Names
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers

In [64]:
budgets_df.corr()

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,None,None,original,None,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0
331700,tt9880178,1,La atención,None,None,original,None,1.0
331701,tt9880178,2,La atención,ES,None,None,None,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0

In [ ]:
budgets_df.plot(x = 'production_budget', y = 'worldwide_ROI', kind = "scatter")

In [ ]:
budgets_df.drop(budgets_df[budgets_df['production_budget'] < 200000000].index, inplace = True)

In [ ]:
budgets_df.corr()

In [ ]:
budgets_df.plot(x = 'production_budget', y = 'worldwide_ROI', kind = "scatter")

In [ ]:
budgets_df.drop(budgets_df[budgets_df['production_budget'] < 300000000].index, inplace = True)

In [ ]:
budgets_df.corr()

In [ ]:
budgets_df.plot(x = 'production_budget', y = 'worldwide_ROI', kind = "scatter")

In [ ]:
tmdb_movies_df.info()

In [ ]:
rt_reviews_df.info()

In [ ]:
tmdb_movies_df['vote_count'].describe()

In [ ]:
tmdb_movies_df.drop(tmdb_movies_df[tmdb_movies_df['vote_count'] < 195].index, inplace = True)
tmdb_movies_df.drop(tmdb_movies_df[tmdb_movies_df['genre_ids'] == '[]'].index, inplace = True)

In [ ]:
tmdb_movies_df['vote_count'].describe()

In [ ]:
tmdb_movies_df.corr(method = 'pearson')

In [ ]:
swap_dict = {
    28 : "Action",
    12 : "Adventure",
    16 : "Animation",
    35 : "Comedy",
    80 : "Crime",
    99 : "Documentary",
    18 : "Drama",
    10751 : "Family",
    14 : "Fantasy",
    36 : "History",
    27 : "Horror",
    10402 : "Music",
    9648 : "Mystery",
    10749 : "Romance",
    878 : "Science Fiction",
    10770 : "TV Movie",
    53 : "Triller",
    10752 : "War",
    37 : "Western"
}

In [ ]:
def swap_genre(data):
    new_list = []
    finallist = []
    for str_num in data.split(','):
        new_list.append(int(str_num.strip('[], ')))
    for x in new_list:
        finallist.append(swap_dict[x])
    return finallist

tet = '[12, 14, 10751]' 
swap_genre(tmdb_movies_df['genre_ids'][218])

In [ ]:
tmdb_movies_df['genre_string_names'] = tmdb_movies_df['genre_ids'].map(lambda x: swap_genre(x))

In [ ]:
dict_of_genre = {}
for row in tmdb_movies_df:
    for genre in row['genre_string_names']:
        if genre not in dict_of_genre:
            dict_of_genre[genre] =